$white: #ffffff;
$dark: #000000;
$lightGray: #333333;
$lighterGray: #3B3B3B;
$lightPurple: #A291A5;
$darkPurple: #645766;
$darkish: #27262A;
$blueWhite: #F4F4F4;
$blushPink: #8D81AC;
$opacityWhite: #0d060169;
