.menu-item-text {
    font-family: "Asap-Regular";
    font-size: $fs-xs;
  }
  
  .btn-text {
    font-family: "NoirPro-Regular";
    font-size: $fs-sm;
  }
  
  .heading-text {
    font-family: "NoirPro-Regular";
    font-size: $fs-lg;
    font-weight: $fw-bold;
  }
  